html {
    width:100vw;
    overflow-x:hidden;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.contentWrapper {
    background-color: #4d5474;
}


/*..........................MEDIA..........................*/


@media (max-width: 1220px) {
    .main {
        display: block;
    }
}    